﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.Master" AutoEventWireup="true" CodeBehind="Test.aspx.cs" Inherits="Ramix.Test" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cpTitle" runat="server">
    Test
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cpHead" runat="server">
    <style>
        .table {
            word-break: break-word;
        }
    </style>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cpContent" runat="server">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">Test invoice</h4>
                </div>
            </div>
            <div class="card-body ">
                <div class="myForm form-horizontal">
                    <div class="row">
                        <table class="table table-striped">
                            <thead class=" text-primary">
                                <tr>
                                    <th class="text-center ohHide">ID</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">pharmacy</th>
                                    <th class="text-center">site</th>
                                    <th class="text-center">area</th>
                                    <th class="text-center">Units</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">discount</th>
                                    <th class="text-center">bonus</th>
                                    <th class="text-center">bill</th>
                                    <th class="text-center">prod</th>
                                    <th class="text-center">paid</th>
                                    <th class="text-center">date</th>
                                    <th class="text-center">total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <asp:ListView ID="gvTest" ClientIDMode="Static" runat="server">
                                    <ItemTemplate>
                                        <tr>
                                            <th class="text-center ohHide">ID</th>
                                            <th class="text-center"><%# Eval("invoiceName") %></th>
                                            <th class="text-center"><%# Eval("pharmacyName") %></th>
                                            <th class="text-center"><%# Eval("site") %></th>
                                            <th class="text-center"><%# Eval("area") %></th>
                                            <th class="text-center"><%# Eval("numberOfUnitsSold") %></th>
                                            <th class="text-center"><%# Eval("packagePrice") %></th>
                                            <th class="text-center"><%# Eval("discount") %></th>
                                            <th class="text-center"><%# Eval("bonus") %></th>
                                            <th class="text-center"><%# Eval("billNumber") %></th>
                                            <th class="text-center"><%# Eval("productID") %></th>
                                            <th class="text-center"><%# Eval("paid") %></th>
                                            <th class="text-center"><%# Eval("dateOrder", "{0:d MMM, yyyy}") %></th>
                                            <th class="text-center"><%# Eval("total") %></th>
                                        </tr>
                                    </ItemTemplate>
                                </asp:ListView>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cpScript" runat="server">
</asp:Content>
